<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobres</title>
</head>
<body>

    <main>
         <section id="open-pack-section" class="page-section hidden">
                <h1>Abrir un Sobre</h1>
                <button id="open-pack-button" class="action-button">¡Abrir Sobres!</button>
                <div id="pack-results" class="pack-results-grid">
                    </div>
            </section>
    </main>

</body>
</html>