/* Estilos específicos para el Índice de Pokémon */

.search-filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.search-filter-container input,
.search-filter-container select {
    width: 80vw;
    max-width: 730px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

